order_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:schema="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:a1="http://secure.linkpt.net/fdggwsapi/schemas_us/a1" xmlns:fdggwsapi="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:v1="http://secure.linkpt.net/fdggwsapi/schemas_us/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://secure.linkpt.net/fdggwsapi/schemas_us/v1" schemaLocation="../schemas_us/v1.xsd"/>
	<xs:import namespace="http://secure.linkpt.net/fdggwsapi/schemas_us/a1" schemaLocation="../schemas_us/a1.xsd"/>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Request - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="FDGGWSApiOrderRequest">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="v1:Transaction"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="FDGGWSApiActionRequest">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="a1:Action"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Response  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="FDGGWSApiOrderResponse">
		<xs:complexType>
			<xs:all>
				<xs:element name="ApprovalCode" type="xs:string"/>
				<xs:element name="AVSResponse" type="xs:string"/>
				<xs:element name="CommercialServiceProvider" type="xs:string"/>
				<xs:element name="ErrorMessage" type="xs:string"/>
				<xs:element name="OrderId" type="xs:string"/>
				<xs:element name="ProcessorApprovalCode" type="xs:string"/>				
				<xs:element name="ProcessorReferenceNumber" type="xs:string"/>
				<xs:element name="ProcessorResponseCode" type="xs:string"/>
				<xs:element name="ProcessorResponseMessage" type="xs:string"/>								
				<xs:element name="TDate" type="xs:string"/>				
				<xs:element name="TransactionResult" type="xs:string"/>
				<xs:element name="TransactionTime" type="xs:string"/>
				<xs:element name="TransactionID" type="xs:string"/>
				<xs:element name="CalculatedTax" type="xs:string"/>
				<xs:element name="CalculatedShipping" type="xs:string"/>
				<xs:element name="TransactionScore" type="xs:string"/>				
				<xs:element name="AuthenticationResponseCode" type="xs:string"/>
				<xs:element name="FraudAction" type="xs:string"/>				
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="FDGGWSApiActionResponse">
		<xs:complexType>
			<xs:all>
			    <xs:element name="Success" type="xs:boolean"/>
				<xs:element name="ApprovalCode" type="xs:string"/>
				<xs:element name="AVSResponse" type="xs:string"/>
				<xs:element name="CommercialServiceProvider" type="xs:string"/>
				<xs:element name="ErrorMessage" type="xs:string"/>
				<xs:element name="OrderId" type="xs:string"/>
				<xs:element name="ProcessorApprovalCode" type="xs:string"/>
				<xs:element name="ProcessorReceiptNumber" type="xs:string"/>
				<xs:element name="ProcessorReferenceNumber" type="xs:string"/>
				<xs:element name="ProcessorResponseCode" type="xs:string"/>
				<xs:element name="ProcessorResponseMessage" type="xs:string"/>
				<xs:element name="ProcessorTraceNumber" type="xs:string"/>
				<xs:element name="TDate" type="xs:string"/>
				<xs:element name="TerminalID" type="xs:string"/>
				<xs:element name="TransactionResult" type="xs:string"/>
				<xs:element name="TransactionTime" type="xs:string"/>
				<xs:element name="TransactionID" type="xs:string"/>
				<xs:element name="TransactionScore" type="xs:string"/>
				<xs:element name="AuthenticationResponseCode" type="xs:string"/>
				<xs:element name="FraudAction" type="xs:string"/>				
				<xs:element name="MerchantID" type="xs:string"/>
				<xs:element name="CardNumber" type="xs:string"/>
				<xs:element name="CardExpiryMonth" type="xs:string"/>
				<xs:element name="CardExpiryYear" type="xs:string"/>
				<xs:element name="TransactionTotal" type="xs:string"/>
				<xs:element name="TransactionType" type="xs:string"/>
				<xs:element name="TransactionStateDesc" type="xs:string"/>
				<xs:element name="SecureLevel3D" type="xs:string"/>
				<xs:element name="TransactionOrigin" type="xs:string"/>
		 		<xs:element name="InvoiceNumber" type="xs:string"/>
			</xs:all>			
		</xs:complexType>
	</xs:element>
	 
</xs:schema>
  </wsdl:types>
  <wsdl:message name="FDGGWSApiOrderRequest">
    <wsdl:part element="schema:FDGGWSApiOrderRequest" name="FDGGWSApiOrderRequest"/>
  </wsdl:message>
  <wsdl:message name="FDGGWSApiOrderResponse">
    <wsdl:part element="schema:FDGGWSApiOrderResponse" name="FDGGWSApiOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="FDGGWSApiActionResponse">
    <wsdl:part element="schema:FDGGWSApiActionResponse" name="FDGGWSApiActionResponse"/>
  </wsdl:message>
  <wsdl:message name="FDGGWSApiActionRequest">
    <wsdl:part element="schema:FDGGWSApiActionRequest" name="FDGGWSApiActionRequest"/>
  </wsdl:message>
  <wsdl:message name="AVSResponse">
    <wsdl:part element="schema:AVSResponse" name="AVSResponse"/>
  </wsdl:message>
  <wsdl:portType name="FDGGWSApiOrder">
    <wsdl:operation name="FDGGWSApiOrder">
      <wsdl:input message="schema:FDGGWSApiOrderRequest" name="FDGGWSApiOrderRequest"/>
      <wsdl:output message="schema:FDGGWSApiOrderResponse" name="FDGGWSApiOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FDGGWSApiAction">
      <wsdl:input message="schema:FDGGWSApiActionRequest" name="FDGGWSApiActionRequest"/>
      <wsdl:output message="schema:FDGGWSApiActionResponse" name="FDGGWSApiActionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FDGGWSApiOrderBinding" type="schema:FDGGWSApiOrder">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FDGGWSApiOrder">
      <soap:operation soapAction=""/>
      <wsdl:input name="FDGGWSApiOrderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FDGGWSApiOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FDGGWSApiAction">
      <soap:operation soapAction=""/>
      <wsdl:input name="FDGGWSApiActionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FDGGWSApiActionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FDGGWSApiOrderService">
    <wsdl:port binding="schema:FDGGWSApiOrderBinding" name="FDGGWSApiOrderPort">
      <soap:address location="https://ws.merchanttest.firstdataglobalgateway.com:443/fdggwsapi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>